<!doctype html>
<html lang="en">
<head>
    <title>Vastra Digital-visiting-card</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="ftco-section img " style="background-image: url(images/bg_1.jpg);">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="wrapper">
                        <div class="row no-gutters justify-content-between">
                            <div class="col-lg-3 d-flex align-items-stretch digicard">
                                <div class="info-wrap w-100 p-5" style="margin: -180px 0 0 0px;">
                                    <img style="padding: 150px 0px 40px 1px;"
                                        src="images/round.png"
                                        alt="">
                                    <h3 class="mb-3">Download Images <span style="color:#0191D0 ;"> from PDF-file</span> </h3>
                                        
                                    <!-- <div class="dbox w-100 d-flex align-items-start">
                                        <p>Please fill your information bellow</p>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-start" style="">
                                        <p><a href="https://vastraapp.com/">vastraapp.com</a></p>
                                    </div> -->
                                </div>
                            </div>  <form action="/download-images" method="post" enctype="multipart/form-data">
                            <div class="col-lg-8">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                     
                                    <h3 class="mb-4">Export All Images Form PDF-file !</h3>      
                                                                 
                            
                                    <div class="">
                                        <span class="head">Upload Your Company Logo Here!</span>
                                        <input type="file" class="form-control-file" name="file"  style="background-color: rgb(238, 238, 238);
                                         width: 100%;
                                         margin: 0 0px 20px 1px;
                                         padding: 16px;
                                         text-align: center;
                                         border-radius: 90px; ">
                                    </div>
                                    <div class="col-md-12" style="text-align:end ;">
                                                <div class="form-group" style="margin: 30px 0 0 10px;">
                                                    <input type="submit" value="CREATE VISITING CARD"
                                                        class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <script src="js/jquery.min.js"></script>
    <!-- <script src="js/popper.js"></script> -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>