<!doctype html>
<html lang="en">
<head>
    <title>VastraApp-DigitalMarketing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body  style="background-image: url(images/bg_1.jpg);">
    <section class="ftco-section img ">
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="wrapper">
                        <div class="row no-gutters justify-content-between">
                            <div class="col-lg-12 d-flex align-items-stretch digicard">
                                <div class="info-wrap w-100 p-5" style="margin: -200px 0 0 0px; text-align: center;">
                                    <img style="padding: 150px 0px 40px 1px;" src="images/round.png" alt="">
                                    <h3 class="mb-4">Create Digital <span style="color:#0191D0 ;">Visiting Card</span>
                                    </h3>
                                    <!-- <div class="dbox w-100 d-flex align-items-start">
                                        <p>Please fill your information bellow</p>
                                    </div>
                                    <div class="dbox w-100 d-flex align-items-start" style="">
                                        <p><a href="https://vastraapp.com/">vastraapp.com</a></p>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="contact-wrap w-100 p-md-5 p-4">
                                    <h4>Get & Share Digital Identity of Your Business!</h4>
                                    <p>Enter Below information about your organisation and click on Generate Digital
                                        Visiting Card.</p>
                                        <form action="/pdf-view" method="post" enctype="multipart/form-data">
                                    <div class="">
                                        <span class="head">Upload Your Company Logo Here!</span>
                                        <input type="file" class="form-control-file" name="logo" style="background-color: rgb(238, 238, 238);
                                         width: 100%;
                                         margin: 0 0px 20px 1px;
                                         padding: 16px;
                                         text-align: center;
                                         border-radius: 90px; ">
                                    </div>
                                    <div id="form-message-warning" class="mb-4"></div>
                                    <div id="form-message-success" class="mb-4">
                                        Your message was sent, thank you!
                                    </div>
                                    <form method="POST" id="contactForm" name="contactForm">
                                        <div class="row">
                                            <div class="col-md-4"> <span class="head">Company Name</span>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="cname" id="name" maxlength="60"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-4"> <span class="head">City</span>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="city" id="City Name"maxlength="50"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-4"> <span class="head">Primary Mobile No</span>
                                                <div class="form-group">
                                                    <input type="number" class="form-control" name="phone" id="Phone"maxlength="10"
                                                        placeholder="" style="-moz-appearance: textfield;">
                                                </div>
                                            </div>
                                            <div class="col-md-12"> <span class="head">Address</span>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="address" id="address" maxlength="140"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group"> <span class="head">Email</span>
                                                    <input type="email" class="form-control" name="email" id="Email"maxlength="35"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-4"> <span class="head">WhatsApp Mobile Number</span>
                                                <div class="form-group">
                                                    <input type="number" class="form-control" name="wphone" id="Phone"maxlength="10"
                                                        placeholder="" style="-moz-appearance: textfield;">
                                                </div>
                                            </div>
                                            <div class="col-md-4"> <span class="head">Facebook Url</span>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="fb" id="Facebook Link" maxlength="200"
                                                        placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-4"> <span class="head">Instagram Url</span>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="insta"maxlength="200"
                                                        id="Instagram Link" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-4"> <span class="head">Twitter Url</span>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="twitter"maxlength="200"
                                                        id="Twitter Link" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-4"> <span class="head">Enter Your WebSite</span>
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="web" maxlength="200"
                                                        id="Web Link" placeholder="">
                                                </div>
                                            </div>
                                            <div class="col-md-12" style="text-align:end ;">
                                                <div class="form-group" style="margin: 30px 0 0 10px;">
                                                    <input type="submit" value="CREATE VISITING CARD"
                                                        class="btn btn-primary">
                                                    <div class="submitting"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="js/jquery.min.js"></script>
    <!-- <script src="js/popper.js"></script> -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>